@charset "utf-8";
/* CSS Document */
body{
	padding: 0;
	margin: 0
}
.fleft{
	float: left;
	margin-top: 15px
}
.fright{
	float: right;
	margin-right: 80px;
	margin-top: 15px
}
.top-bar{
	background: #056CB6;
	height: 50px;
	color: white
}
.navbar-brand img{
	height: 40px;
	margin-top: 10px
}
.navbar-default{
	font-size: 12px;
	color: #666666;
	margin-bottom: 0;
	z-index: 10000000000000000
}
.navbar-nav{
	margin-top: 20px;
	float: right
}
.navbar-collapse li{
	margin-right: 30px
}
.navbar-default .navbar-nav > li > a:hover{
	color: #2F80ED
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a{
	color: #FFFFFF;
	background: #056CB6
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover{
	color: #FFFFFF;
	background: #F2C94C 
}
.dropdown-menu {
	padding: 0
}
@media screen and (max-width: 992px) {
	.navbar-default .navbar-brand{
		padding-left: 290px
	}
}
@media screen and (max-width: 767px) {
	.navbar-default .navbar-brand{
		padding-left: 0
	}
}
footer{
	background: #2F80ED;
	height: auto
}
footer h4{
	margin-top: 30px
}
.nd-md-4{
	color: white
}
.nd-md-4 img{
	margin-top: 20px
}
.nd-md-4 p{
	margin-top: 20px;
	margin-bottom: 20px
}
.btn{
	background: #F2C94C
}
.nd-md-2 .nav a{
	font-size: 14px;
	color: white
}
.nd-md-2{
	color: white
}
.line{
	height: 2px;
	width: 150px;
	background: #F2C94C;
	margin: 10px 0
}
.nd-md-4{
	color: white
}
.nd-md-4 img{
	height: 35px;
}
.nd-md-4 .nav a{
	color: white
}
.nd-md-4 .nav i{
	margin-right: 10px
}
.nav i{
	color: #F2C94C
}
.nav{
	margin-left: -15px
}
.fa-facebook-f{
	color: white;
	margin-left: 15px
}
.fa-google-plus-g{
	color: white
}
.fa-twitter{
	color: white
}
.fa-pinterest{
	color: white
}
.fa-linkedin-in{
	color: white
}

